body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.d-flex{
  margin-left: auto;
}

.filter{
  display: flex;
  justify-content: space-around;
}

.ReactTable .rt-thead{
  background-color: #56cc9d;
}

.ReactTable .rt-thead .rt-tr{
  color: white;
}

.ReactTable .-pagination .-next .-btn{
  color: black;
  background-color: #ff7851;
}

.ReactTable .-pagination .-previous .-btn{
  color: black;
  background-color: #ff7851;
}

.creator{
  margin: 1em;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 0.5em;
}

.log-reg-btn{
  display:flex;
  justify-content: space-between;
}

.Modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  left: 30%;
  right: 30%;
  bottom: 35%;
  background-color: white;
  padding: 0;
  border-radius: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.6);
}
